@import url('http://fonts.cdnfonts.com/css/harry-potter');

.title-app{
    font-family: 'Harry Potter', sans-serif;
    font-size: 3em;
}
.font-white{
    color: white;
}
.select-filter{
    font-size: 36px;
}