
@font-face {
    font-family: 'Harry Potter';
    font-style: normal;
    font-weight: 400;
    src: local('Harry Potter'), url('../assets/fonts/HARRP___.woff') format('woff');
}


.title-app{
    font-family: 'Harry Potter', sans-serif;
    font-size: 3em;
}
.font-white{
    color: white;
}
.select-filter{
    font-size: 45px;
}
.header-align{
    margin-top: 10%;
}
